body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/042/193/640/small/ai-generated-overcast-sky-background-free-photo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}

.weather-container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.about-section{
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.about-section h1{
    margin: 10px;
    font-size: 28px;
}

.about-section p{
    margin: 5px 0;
    font-size: 18px;
}

.weather-section{
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.weather-section input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
}

.weather-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.weather-section button:hover {
    background-color: #0056b3;
}

.weather-section h2{
    margin: 10px;
    font-size: 28px;
}

.weather-section p2{
    margin: 5px 0;
    font-size: 18px;
}